body{
    font-family: 'Montserrat', sans-serif;
    

}

#title {
    background-color: hsl(351, 100%, 65%);
  padding: 3% 15%;
  
    
}

#features{
    text-align: center;
    margin: 5% auto;
    

    
    
    
}

h1{
    font-family: 'Montserrat', sans-serif;
    size: 3.5rem;
    text-align: left;

    color: white;
}
h2,h3{
    color:white;
    font-size: 3rem;
    line-height: 1.5;
    
    margin: auto;
}
.last-h3{
    width: 30%;
}
.price-black{
    color:rgb(92, 88, 88);
}
.carousel-widht{
    width: 60%;
}
.black{
    color: black;
}

.line{
    line-height: 1.5;
}

.navbar-brand{
    font-size: 3rem ;
}
.nav-link{
    font-size: 1.5rem;

}
.navbar{
    padding: 0px 0px 80px 0px;
    font-family: 'Ubuntu', sans-serif;

}
.download-buttom{
    margin: 3% 2% 3% 0%;
    font-family: 'Ubuntu', sans-serif;
    

}

.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: relative;
    left: 50px ;
    margin-top: 3%;
}

.sym{
    color: hsl(350, 68%, 73%);
    size: 2rem;
    padding-bottom: 0px;
    
}
.row{
    
    line-height: 1.8;
}

.sym:hover{
    color: hsl(350, 46%, 50%);
    size: 2rem;
    
}


.para-light{
    color:grey;
}
h3{
    font-size: 1.5rem;
    
}
#testimonials{
    text-align: center;
    background-color: hsl(350, 46%, 50%);
    padding: 2% 5% 5% 5%;
}
.dog{
    width: 8%;
    border-radius: 100%;
    margin: 5% auto 2% auto;
    
}
.white{
    color: white;
    font-style: normal;

    
}

#press{
    background-color: hsl(350, 46%, 50%);
    
    


}

.press-img{
    
    margin-left: 10%;
    padding-bottom: 1%;

    

    
}
#carouselExampleControls{
    padding: 0px;
}

#pricing{
    padding: 100px;
}
.head{
    color: black;
    text-align: center;
}
.card{
    margin: 2%;
}
#cta{
    background-color: hsl(350, 46%, 50%);
    padding: 3% 3% 4% 3% ;
    
    text-align: center;
}

#footer{
    text-align: center;
    padding: 5%;
}
#copyright{
    color: grey;
    margin-top: 1.5%;
}
.footer-icon{
    margin: 0.8%;
}
 



@media screen and (max-width:1000px) {
    .title-img{
        transform: rotate(0);

    }
    
    .row{
        
        text-align: center;
    }
}